@import "tailwindcss";

@theme {
    --color-blue: #60bed4;
    --color-green: #6bae3c;
    --color-yellow: #f1ce15;
    --color-orange: #e77226;
    --color-purple: #6a4b9e;
    --color-red: #d3422f;

    --color-background: var(--color-stone-50);
    --color-primary: var(--color-green);
    --color-secondary: var(--color-stone-400);
    --color-text: var(--color-stone-800);
}

@layer base {

    html {
        @apply w-full h-full md:text-xl;
    }

    body {
        @apply text-text bg-background flex flex-col min-h-screen;
    }

    header {
        @apply border-b-2 border-text py-4;
    }

    nav {
        @apply p-4 mx-auto container max-w-2xl;
    }

    main {
        @apply px-4 py-8 flex-1 md:py-16 max-w-2xl mx-auto container overflow-hidden;
    }

    footer {
        @apply border-t-2 border-text;
    }

    footer > * {
        @apply p-4 mx-auto container;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        @apply my-4 md:my-8;
    }

    h1 {
        @apply text-4xl font-black md:text-4xl;
    }

    h2 {
        @apply text-3xl md:text-2xl;
    }

    h3 {
        @apply text-xl md:text-xl;
    }

    picture {
        @apply my-8 md:my-12;
    }
}

/* Sometimes the drop down menu won't be hidden properly, and will blip on the screen until alpine.js initializes. This just stops the blipping. */
[x-cloak] {
    display: none !important;
}

.panel {
    @apply border-text border-2 border-r-6 border-b-6 rounded-2xl p-4;
}