@import "tailwindcss";

@theme {
    --color-background: var(--color-stone-50);
    --color-primary: var(--color-blue-400);
    --color-secondary: var(--color-stone-400);
    --color-text: var(--color-stone-800);

    --color-blue: #60bed4;
    --color-green: #6bae3c;
    --color-yellow: #f1ce15;
    --color-orange: #e77226;
    --color-purple: #6a4b9e;
    --color-red: #d3422f;
}

@layer base {

    html {
        @apply w-full h-full;
    }

    body {
        @apply text-text bg-background flex flex-col min-h-screen;
    }

    header {
        @apply border-b-text border-b-2 bg-blue;
    }

    nav {
        @apply p-4 mx-auto container;
    }

    main {
        @apply px-4 py-8 flex-1 md:py-16 mx-auto container;
    }

    footer {
        @apply border-t-text border-t-2;
    }

    footer>* {
        @apply p-4 mx-auto container;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        @apply my-4 md:my-8;
    }

    h1 {
        @apply text-2xl font-black md:text-4xl;
    }

    h2 {
        @apply text-xl md:text-2xl;
    }

    h3 {
        @apply text-lg md:text-xl;
    }

    picture {
        @apply my-8 md:my-12;
    }
}

.panel {
    @apply border-text border-2 border-r-6 border-b-6 rounded-2xl p-4;
}