---
import Layout from "@/layouts/Layout.astro";

import {Image} from "astro:assets";

import circle from "@/assets/sprites/circle.svg";
---

<Layout title="Contact Us">
    <h1>Contact Us!</h1>
    <p>Questions? Please don't hesitate to send us an email!</p>
    <p>info@twizmogames.com</p>

    <p class="italic font-semibold">
        We could also add some links to socials here.
    </p>
</Layout>
