---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Contact Us">
    <h1>Contact Us!</h1>
    <p>Questions? Please don't hesitate to send us an email!</p>
    <a class="text-primary hover:underline font-semibold" href="mailto:info@twizmo-games.com">info@twizmo-games.com</a>
</Layout>
