---
import Layout from "@/layouts/Layout.astro";

import { Image } from "astro:assets";

import circle from "@/assets/sprites/circle.svg";
---

<Layout title="Contact Us">
    <div class="flex-1">
        <h1>Contact Us!</h1>

        <p>Questions? Please don't hesitate to send us an email!</p>
        <p>info@twizmogames.com</p>
    </div>
</Layout>
