---
import Layout from "@/layouts/Layout.astro";
import DiskuGrid from "@/components/DiskuGrid.astro";

import taktak from "@/assets/images/tak-tak.jpg"
import {Image} from "astro:assets";
---

<Layout title="Twizmo! Games">
    <div class="text-center max-w-2xl mx-auto">

        <h1 class="text-6xl md:text-9xl">DISKU!</h1>
        <DiskuGrid/>

        <p class="text-3xl font-semibold my-8 md:text-5xl">
            Coming soon to iOS and Android
        </p>

        <p class="text-xl font-semibold">
            A minimalist brain teaser to scratch your puzzle itch!
        </p>


        <p class="">
            DISKU is a game of logic and deduction. Each DISKU board is a square grid
            of disks, where each disk has a color and a shape on top. Each row,
            column, and color contains one, and only one of each shape.
        </p>


    </div>
</Layout>
