---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Our Games</h1>
    <p>
        Originally a board and puzzle game shop, Twizmo! Games has expanded to mobile games too.
    </p>

</Layout>
