---
import { Picture } from "astro:assets";
import Layout from "@/layouts/Layout.astro";

import threePack from "@/assets/images/3packs.png";
---

<Layout title="Our Games">
    <h1>Our Games</h1>

    <p>Coming soon!</p>
</Layout>
