---
import { Image } from "astro:assets";

interface Props {
  symbol: any;
  disk: any;
}

const { symbol, disk } = Astro.props;
---

<div class="relative leading-none select-none w-full h-full aspect-square">
  <Image src={disk} alt="disk" class="absolute block w-full h-full" />
  <Image
    src={symbol}
    alt="symbol"
    class="absolute block pointer-events-none w-full h-full"
  />
</div>
