<div class="w-full mb-12">
    <a href="#">Home</a>
    <a href="#">Our Games</a>
    <a href="#">Twizmo! Demos</a>
    <a href="#">Our Twizted Blog</a>
    <a href="#">Buy Twizmo!</a>
    <a href="#">Contact Us</a>
</div>
